<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<body>

<div layout:fragment="content">
    <!--@thymesVar id="job" type="com.orange.clara.cloud.servicedbdumper.model.Job"-->
    <div th:if="${job == null}">
        <h5>Invalid job</h5>
    </div>
    <div th:if="${job != null}">
        <h5>Details for job <span th:text="${job.id}"></span></h5>
        <ul class="collection">
            <li class="collection-item" th:if="${job.dbDumperServiceInstance != null}">
                <span class="title">Service instance</span>

                <p th:text="${job.dbDumperServiceInstance.serviceInstanceId}"></p>
            </li>
            <li class="collection-item" th:if="${job.databaseRefSrc.databaseService != null}">
                <span class="title">Service name</span>

                <p th:text="${job.databaseRefSrc.databaseService.name}"></p>
            </li>
            <li class="collection-item" th:if="${job.databaseRefSrc != null}">
                <span class="title">Database source name</span>

                <p><span th:text="${job.databaseRefSrc.databaseName}"></span>
                    <i class="tiny material-icons info-tooltip tooltipped blue-text" data-position="bottom"
                       data-delay="50"
                       th:attr="data-tooltip=${job.databaseRefSrc.getInUrlFormat()}">info_outline</i>
                </p>
            </li>
            <li class="collection-item" th:if="${job.databaseRefTarget != null}">
                <span class="title">Database target name</span>

                <p><span th:text="${job.databaseRefTarget.databaseName}"></span>
                    <i class="tiny material-icons tooltipped blue-text" data-position="bottom"
                       data-delay="50"
                       th:attr="data-tooltip=${job.databaseRefTarget.getInUrlFormat()}">info_outline</i>
                </p>
            </li>
            <li class="collection-item">
                <span class="title">Type</span>

                <p th:text="${job.jobType}"></p>
            </li>
            <li class="collection-item">
                <span class="title">Last Update</span>

                <p th:text="${job.updatedAt}"></p>
            </li>
            <li class="collection-item">
                <span class="title">Current event</span>

                <p th:text="${job.jobEvent}"></p>
            </li>
            <li class="collection-item" th:if="${job.errorMessage != null}">
                <span class="title">Error message</span>

                <p th:text="${job.errorMessage}"></p>
            </li>
            <li class="collection-item" th:if="${job.dumpDate != null}">
                <span class="title">Dump date chosen</span>

                <p th:text="${job.dumpDate}"></p>
            </li>
        </ul>
    </div>
</div>

<div layout:fragment="scripts">
</div>

</body>
</html>