<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<body>
<div layout:fragment="content">
    <!--@thymesVar id="databaseRefs" type="List<DatabaseRef>"-->
    <!--@thymesVar id="databaseRef" type="com.orange.clara.cloud.servicedbdumper.model.DatabaseRef"-->
    <!--@thymesVar id="databaseDumpFiles" type="List<DatabaseDumpFile>"-->
    <!--@thymesVar id="databaseDumpFile" type="com.orange.clara.cloud.servicedbdumper.model.DatabaseDumpFile"-->
    <h5>Database dump files</h5>

    <div th:if="${databaseRefs == null or databaseRefs.isEmpty()}">
        <h6>There is no databases reference inside db-dumper-service</h6>
    </div>
    <div th:if="${databaseRefs != null and databaseRefs.isEmpty() == false}">
        <div th:each="databaseRef : ${databaseRefs}">
            <div th:if="${databaseRef.databaseDumpFiles.isEmpty() == false}">
                <ul class="collection with-header">
                    <li class="collection-header"><h4 th:text="${databaseRef.name}">No name</h4></li>
                    <li class="collection-item" th:each="databaseDumpFile : ${databaseRef.databaseDumpFiles}">
                        Created At: <span th:text="${#dates.format(databaseDumpFile.createdAt, 'dd-MM-yyyy')}"></span>
                        <a class="btn waves-effect waves-light orange"
                           th:href="@{/manage/show/{databaseRefName}/{databaseDumpFileName}(databaseRefName=${databaseRef.name},databaseDumpFileName=${databaseDumpFile.fileName})}"><i
                                class="material-icons left">description</i> Show</a>
                        <a class="btn waves-effect waves-light orange"
                           th:href="@{/manage/download/{databaseRefName}/{databaseDumpFileName}(databaseRefName=${databaseRef.name},databaseDumpFileName=${databaseDumpFile.fileName})}"><i
                                class="material-icons left">import_export</i>
                            Download</a>
                        <a class="btn waves-effect waves-light orange"
                           th:href="@{/manage/delete/{databaseDumpFileId}(databaseDumpFileId=${databaseDumpFile.id})}"><i
                                class="material-icons left">delete</i>
                            Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>