<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<body>
<div layout:fragment="content">
    <!--@thymesVar id="databaseRefs" type="List<DatabaseRef>"-->
    <!--@thymesVar id="databaseRef" type="com.orange.clara.cloud.servicedbdumper.model.DatabaseRef"-->
    <!--@thymesVar id="databaseDumpFiles" type="List<DatabaseDumpFile>"-->
    <!--@thymesVar id="databaseDumpFile" type="com.orange.clara.cloud.servicedbdumper.model.DatabaseDumpFile"-->
    <!--@thymesVar id="urlForge" type="com.orange.clara.cloud.servicedbdumper.helper.UrlForge"-->
    <h5>Database dump files</h5>

    <div th:if="${databaseRefs == null or databaseRefs.isEmpty()}">
        <h6>There is no databases reference inside db-dumper-service</h6>
    </div>
    <div th:if="${databaseRefs != null and databaseRefs.isEmpty() == false}">
        <div th:each="databaseRef : ${databaseRefs}">
            <div th:if="${databaseRef.getDatabaseDumpFilesNotDeleted().isEmpty() == false}">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4 th:if="${databaseRef.databaseService == null}"
                            th:text="${databaseRef.name}">No name</h4>
                        <h4 th:if="${databaseRef.databaseService != null}"
                            th:text="${databaseRef.databaseService.name}">No name</h4></li>
                    <li class="collection-item"
                        th:each="databaseDumpFile : ${databaseRef.getDatabaseDumpFilesNotDeleted()}">
                        <span class="blue-grey-text">Created At:</span> <span
                            th:text="${#dates.format(databaseDumpFile.createdAt, 'dd-MM-yyyy HH:mm')}"></span>
                        - <span class="blue-grey-text">Size:</span> <span
                            th:text="${T(humanize.Humanize).binaryPrefix(databaseDumpFile.size)}"></span>
                        <a class="btn waves-effect waves-light orange"
                           th:if="${databaseDumpFile.isShowable()}"
                           th:href="@{/manage/show/{databaseDumpFileId}(databaseDumpFileId=${databaseDumpFile.id})}"><i
                                class="material-icons left">description</i> Show</a>
                        <a class="btn waves-effect waves-light orange"
                           th:href="@{{url}(url=${urlForge.createDownloadLink(databaseDumpFile)})}"><i
                                class="material-icons left">import_export</i>
                            Download</a>
                        <a class="btn waves-effect waves-light orange"
                           th:href="@{/manage/delete/{databaseDumpFileId}(databaseDumpFileId=${databaseDumpFile.id})}"><i
                                class="material-icons left">delete</i>
                            Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>