<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<body>
<div layout:fragment="content">

    <h5>Database dump files</h5>

    <!--/*@thymesVar id="databaseRefs" type="java.util.List<com.orange.clara.cloud.servicedbdumper.model.DatabaseRef>"*/-->
    <!--/*@thymesVar id="isFree" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="urlForge" type="com.orange.clara.cloud.servicedbdumper.helper.UrlForge"*/-->
    <div th:if="${databaseRefs == null or databaseRefs.isEmpty()}">
        <h6>There is no databases reference inside db-dumper-service</h6>
    </div>
    <div th:if="${databaseRefs != null and databaseRefs.isEmpty() == false}">
        <div th:each="databaseRef : ${databaseRefs}">
            <!--/*@thymesVar id="databaseRef" type="com.orange.clara.cloud.servicedbdumper.model.DatabaseRef"*/-->
            <h2 th:if="${databaseRef.databaseService == null}"
                th:text="'Database name: '+ ${databaseRef.name}">No name</h2>
            <h2 th:if="${databaseRef.databaseService != null}"
                th:text="'Database name: '+${databaseRef.databaseService.name}">No name</h2>
            <div>
                <h5 class="center-align">( <span
                        class="blue-grey-text">Quota usage details:</span> <span
                        th:text="${T(humanize.Humanize).binaryPrefix(T(com.orange.clara.cloud.servicedbdumper.helper.CalculateQuota).calculateDumpFullSize(databaseRef))} +' / '+ ${T(humanize.Humanize).binaryPrefix(T(com.orange.clara.cloud.servicedbdumper.helper.CalculateQuota).calculateFullQuota(databaseRef))}"></span>
                                    <span th:if="${!isFree}"> - <span
                                            class="blue-grey-text">Price by month: </span> <span
                                            th:text="${T(com.orange.clara.cloud.servicedbdumper.helper.CalculateQuota).calculateFullPrice(databaseRef)} +' '+ ${currency}"></span> </span>)
                </h5>
            </div>
            <div th:each="serviceInstance : ${databaseRef.getDbDumperServiceInstances()}">
                <!--/*@thymesVar id="serviceInstance" type="com.orange.clara.cloud.servicedbdumper.model.DbDumperServiceInstance"*/-->
                <div th:if="${serviceInstance.getDatabaseDumpFilesNotDeleted().isEmpty() == false}">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4 th:text="'Instance id: '+ ${serviceInstance.serviceInstanceId}">No name</h4>

                            <div class="progress">
                                <div class="determinate"
                                     th:style="'width: '+ ${T(com.orange.clara.cloud.servicedbdumper.helper.CalculateQuota).calculateQuotaUsedInPercent(serviceInstance)}+'%'"></div>
                            </div>
                            <div>
                                <h5 class="center-align">( <span
                                        class="blue-grey-text">Quota usage details:</span> <span
                                        th:text="${T(humanize.Humanize).binaryPrefix(T(com.orange.clara.cloud.servicedbdumper.helper.CalculateQuota).calculateDumpFullSize(serviceInstance))} +' / '+ ${T(humanize.Humanize).binaryPrefix(T(com.orange.clara.cloud.servicedbdumper.helper.CalculateQuota).calculateFullQuota(serviceInstance))}"></span>
                                    <span th:if="${!isFree}"> - <span
                                            class="blue-grey-text">Price by month: </span> <span
                                            th:text="${serviceInstance.getDbDumperPlan().getCost()} +' '+ ${currency}"></span> </span>)
                                </h5>
                            </div>
                        </li>

                        <li class="collection-item"
                            th:each="databaseDumpFile : ${serviceInstance.getDatabaseDumpFilesNotDeleted()}">
                            <span class="blue-grey-text">Created At:</span> <span
                                th:text="${#dates.format(databaseDumpFile.createdAt, 'dd-MM-yyyy HH:mm')}"></span>
                            - <span class="blue-grey-text">Size:</span> <span
                                th:text="${T(humanize.Humanize).binaryPrefix(databaseDumpFile.size)}"></span>
                            <a class="btn waves-effect waves-light orange"
                               th:if="${databaseDumpFile.isShowable()}"
                               th:href="@{/manage/show/{databaseDumpFileId}(databaseDumpFileId=${databaseDumpFile.id})}"><i
                                    class="material-icons left">description</i> Show</a>
                            <a class="btn waves-effect waves-light orange"
                               th:href="@{{url}(url=${urlForge.createDownloadLink(databaseDumpFile)})}"><i
                                    class="material-icons left">import_export</i>
                                Download</a>
                            <a class="btn waves-effect waves-light orange"
                               th:href="@{/manage/delete/{databaseDumpFileId}(databaseDumpFileId=${databaseDumpFile.id})}"><i
                                    class="material-icons left">delete</i>
                                Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>