<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<div layout:fragment="banner">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br/><br/>

            <h1 class="header center orange-text">Welcome on service-db-dumper</h1>

            <div class="row center">
                <h5 class="header col s12 light">A service broker to dump and restore database from Cloud Foundry</h5>
            </div>
            <div class="row center">
                <a href="/manage/list" id="download-button"
                   class="btn-large waves-effect waves-light orange">Show my dumps</a>
            </div>
            <br/><br/>

        </div>
    </div>
</div>
</body>
</html>